# ウーバーイーツ地域別データ分析

In [286]:
import pandas as pd

In [287]:
AREA_FILE_PATH = "./../data/area_20191201.csv"

In [288]:
area_data = pd.read_csv(AREA_FILE_PATH, index_col="地区")

In [289]:
area_data

        世帯数     総人口     人口男     人口女   人口密度   面積
地区
川崎区  120359  233198  125392  107806   5794  40.25
幸区    81593  170677   86220   84457  16915  10.09
中原区  133068  262072  133366  128706  17696  14.81
高津区  113245  233389  117025  116364  13648  17.10
宮前区  100843  232474  113518  118956  12499  18.60
多摩区  113445  220111  112220  107891  10795  20.39
麻生区   78701  179961   87171   92790   7787  23.11

In [290]:
SHOP_FILE_PATH = './../data/shop_master.csv'
shop_data = pd.read_csv(SHOP_FILE_PATH, index_col='id')

In [291]:
nakaharaku_shop_count = 0
takatsuku_shop_count = 0
kohokuku_shop_count = 0
saiwaiku_shop_count = 0
other_shop_count = 0

In [292]:
for _, address in shop_data["address"].iteritems():
    if "中原区" in address or "Nakahara-Ku" in address:
        nakaharaku_shop_count+=1
    elif "高津区" in address or "溝口" in address or "Takatsu-Ku" in address:
        takatsuku_shop_count+=1
    elif "港北区" in address or "Kōhoku-Ku" in address:
        kohokuku_shop_count+=1
    elif "幸区" in address or "Saiwai-Ku" in address:
        saiwaiku_shop_count+=1
    else:
        other_shop_count+=1

In [293]:
(nakaharaku_shop_count, takatsuku_shop_count, kohokuku_shop_count, saiwaiku_shop_count, other_shop_count)

(133, 75, 24, 14, 5)

In [294]:
nakahara_takatsu = area_data

In [295]:
nakahara_takatsu = area_data.drop(["川崎区", "幸区", "宮前区", "多摩区", "麻生区"])

In [296]:
nakahara_takatsu.loc["中原区", "店舗数"] = nakaharaku_shop_count
nakahara_takatsu.loc["高津区", "店舗数"] = takatsuku_shop_count

In [297]:
nakahara_takatsu = nakahara_takatsu.drop(["総人口", "人口男", "人口女"], axis=1)

In [298]:
print("中原区: {}".format(nakahara_takatsu.loc["中原区", "世帯数"]/nakahara_takatsu.loc["中原区", "店舗数"]))
print("高津区: {}".format(nakahara_takatsu.loc["高津区", "世帯数"]/nakahara_takatsu.loc["高津区", "店舗数"]))

中原区: 1000.5112781954887
高津区: 1509.9333333333334

In [299]:
nakahara_takatsu

        世帯数   人口密度   面積      店舗数
地区
中原区  133068  17696  14.81  133.0
高津区  113245  13648  17.10   75.0

In [313]:
nakahara_takatsu.assign(
    店舗数密度=nakahara_takatsu.apply(lambda x: round(x["店舗数"]/x[2], 1), axis=1),
    世帯数密度=nakahara_takatsu.apply(lambda x: round(x["世帯数"]/x[2], 1), axis=1),
)

        世帯数   人口密度   面積      店舗数  店舗数密度   世帯数密度
地区
中原区  133068  17696  14.81  133.0    9.0  8985.0
高津区  113245  13648  17.10   75.0    4.4  6622.5

人口密度も店舗密度も高津区よりも中原区の方が上