# データ変換用

整理がだいたいできたらスクリプト化する。

In [20]:
import pandas as pd

In [21]:
master = pd.read_csv("./../data/shop_master.csv", index_col="id")

In [22]:
master.head(3)

,address,latitude,longitude,name,point,postal_code,reviews,url
id,,,,,,,,
nWVRj3lxR-GgHArpgXaG-A,神奈川県横浜市港北区日吉本町1-16-20 Kanagawa,35.553888,139.644080,キッチン オリジン 日吉中央通り Kitchen Origin Hiyoshichuodori,4.2,223-0062,26.0,https://www.ubereats.com/jp/yokohama/food-deli...
kRn0KFEVR5CKiFlocLwC_g,神奈川県 川崎市 高津区 千年 665 Kawasaki,35.577274,139.628568,とんかつ後藤 Tonkatsu Goto,NaN,213-0022,NaN,https://www.ubereats.com/jp/yokohama/food-deli...
tpjELe1oTbCMLur0jjNhyw,神奈川県川崎市高津区二子4-1-5 Kanagawa,35.602926,139.617100,キッチン オリジン 高津 Kitchen Origin Takatsu,4.3,213-0002,49.0,https://www.ubereats.com/jp/yokohama/food-deli...

In [23]:
len(master)

575

In [24]:
# df = pd.read_csv("./../rawdata/shops/200322_all_stations.csv", index_col="id")
df = pd.read_csv("./../rawdata/shops/200412_musashimizonokuchi.csv", index_col="id")

In [25]:
len(df)

98

In [31]:
data = pd.concat([master, df], sort=False).drop_duplicates(subset="url", keep="last")

In [32]:
len(data)

575

In [18]:
# 新しく加盟した店
new_shops = data[~data['url'].isin(master['url'])]
new_shops

Empty DataFrame
Columns: [address, latitude, longitude, name, point, postal_code, reviews, url]
Index: []

## 単体マージ

In [ ]:
shop = pd.read_csv("./../rawdata/shops/shop.csv", index_col="id")
data = pd.concat([master, shop]).drop_duplicates(subset="url")

In [ ]:
len(data)

## Export

In [33]:
data.to_csv("./../data/shop_master.csv", index=True)

In [7]:
output = pd.DataFrame()

In [8]:
output["店名"] = data["name"]
output["住所"] = data["address"]
output["緯度"] = data["latitude"]
output["経度"] = data["longitude"]
# output["開始"] = data["open_hour"]
# output["終了"] = data["close_hour"]
output["点数"] = data["point"]
output["レビュー数"] = data["reviews"]
output["URL"] = data["url"]

In [9]:
output.to_csv("./../data/googlemap.csv", index=False)