# 配達データ分析

In [65]:
import pandas as pd
import datetime
import seaborn as sns

In [66]:
master = pd.read_csv("./../data/trip_master.csv", index_col="id")

In [67]:
print(len(master))
# master.head(5)

82

In [68]:
master.columns

Index(['date', 'day', 'day_of_week', 'distance', 'drive_time', 'drop_time',
       'month', 'pickup_address', 'pickup_latitude', 'pickup_longitude',
       'pickup_time', 'price', 'url', 'year'],
      dtype='object')

In [132]:
df = master.assign(
    date = master.apply(lambda x: datetime.datetime(year=x.year, month=x.month, day=x.day), axis=1),
    shop_position_id = master.apply(lambda x: str(x.pickup_latitude) + "-" + str(x.pickup_longitude), axis=1)
                  ) .drop(["day", "month", "year", "url", "pickup_latitude", "pickup_longitude", "pickup_address"], axis=1)

## 毎日のデータ集計

In [133]:
target_day = datetime.datetime(2019, 12, 26)
# target_day = datetime.datetime.today
df_day = df[df["date"] == target_day]

In [134]:
df_day

,date,day_of_week,distance,drive_time,drop_time,pickup_time,price,shop_position_id
id,,,,,,,,
d92f23b6-46a8-48d7-823c-8cadb9182193,2019-12-26,木,0.51,7.6,14:07,13:52,401,35.58022689819336-139.66342163085938
d9401bf2-68ed-42ee-8325-1f2698c1e86f,2019-12-26,木,3.59,27.6,17:42,17:12,584,35.565433502197266-139.65289306640622
8cd65eff-a081-47ee-a6e1-82ebc00f066a,2019-12-26,木,2.29,26.1,13:34,12:58,666,35.5733528137207-139.65725708007812
7b26ed4e-ac86-4e0a-b011-c552de346bf1,2019-12-26,木,0.53,10.0,16:44,16:23,362,35.56500625610352-139.654541015625
9cef32e6-4028-4e0e-8b08-0f65f43173aa,2019-12-26,木,2.53,19.0,18:55,18:22,701,35.58759307861328-139.63053894042972
a311f2cf-256a-466e-8a68-69da679ed678,2019-12-26,木,4.31,28.0,12:59,12:21,627,35.577117919921875-139.65669250488278
bdeaef46-5227-4ad0-9db0-296daad13c44,2019-12-26,木,0.82,10.5,16:25,16:04,377,35.56472396850586-139.65451049804688
90a6c393-b97b-4070-97c6-542f86fb96d9,2019-12-26,木,1.96,16.9,11:05,10:40,438,35.57533645629883-139.65950012207028
c34761f8-7d9d-4fd4-a2ab-495973ee3146,2019-12-26,木,2.22,23.2,18:14,17:49,622,35.58682632446289-139.62971496582028

In [142]:
drive_count = len(df_day)
drive_hours = round(df_day["drive_time"].sum() / 60, 1)
drive_length = round(df_day["distance"].sum() , 2)
total_price = df_day["price"].sum()

In [143]:
print("{}  配達件数: {}件, 配達時間: {}h, 配達距離: {}km, 配達報酬: {}円".format(target_day.date(), drive_count, drive_hours, drive_length, total_price))

2019-12-26  配達件数: 9件, 配達時間: 2.8h, 配達距離: 18.76km, 配達報酬: 4778円

## 日別の集計

## 週別の集計

## 月別の集計